body {
  color: #fff;
  padding: 20px;
  background: #444; }

.shadow {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  box-shadow: 1px 1px 5px #444; }

.logo {
  max-width: 150px;
  float: left;
  transition: 1000ms ease; }
  .logo:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }

#map {
  color: #000;
  height: 420px;
  max-width: 1170px; }

.infoWindowContent {
  font-size: 14px !important;
  border-top: 1px solid #ccc;
  padding-top: 10px; }

h2 {
  margin-bottom: 0;
  margin-top: 0; }

/* Site container width */
.container {
  max-width: 1170px; }

/* = Blocs
-------------------------------------------------------------- */
.bloc {
  width: 100%;
  clear: both;
  background: 50% 50% no-repeat;
  padding: 0 50px;
  background-size: cover;
  position: relative; }

.bloc .container {
  padding-left: 0;
  padding-right: 0; }

/* Sizes */
.bloc-xl {
  padding: 150px 50px; }

.bloc-lg {
  padding: 100px 50px; }

.bloc-md {
  padding: 50px; }

.bloc-sm {
  padding: 20px 50px; }

/* Background colour styles */
.bgc-carmine-pink {
  background-color: #F35342; }

.bgc-outer-space {
  background-color: #47454B; }

.bgc-white {
  background-color: #ffffff; }

.bgc-platinum {
  background-color: #E5E5E5; }

/* Bloc image backgrounds */
.bg-city-overlay {
  background-image: url("images/city-overlay.png") !important; }

/* Dark theme */
.d-bloc {
  color: rgba(255, 255, 255, 0.7); }

.d-bloc button:hover {
  color: rgba(255, 255, 255, 0.9); }

.d-bloc h1, .d-bloc h2, .d-bloc h3, .d-bloc h4, .d-bloc h5, .d-bloc h6, .d-bloc .ico {
  color: rgba(255, 255, 255, 0.9); }

.d-bloc .icon-round, .d-bloc .icon-square, .d-bloc .icon-rounded, .d-bloc .icon-semi-rounded-a, .d-bloc .icon-semi-rounded-b {
  border-color: rgba(255, 255, 255, 0.9); }

.d-bloc .divider-h span {
  border-color: rgba(255, 255, 255, 0.2); }

.d-bloc a {
  color: rgba(255, 255, 255, 0.6); }

.d-bloc a:hover {
  color: white; }

.d-bloc .navbar-toggle .icon-bar {
  background: white; }

.d-bloc .btn-wire, .d-bloc .btn-wire:hover {
  color: white;
  border-color: white; }

.d-bloc .panel {
  color: rgba(0, 0, 0, 0.5); }

.d-bloc .panel button:hover {
  color: rgba(0, 0, 0, 0.7); }

.d-bloc .panel h1, .d-bloc .panel h2, .d-bloc .panel h3, .d-bloc .panel h4, .d-bloc .panel h5, .d-bloc .panel h6, .d-bloc .ico {
  color: rgba(0, 0, 0, 0.7); }

.d-bloc .panel icon {
  border-color: rgba(0, 0, 0, 0.7); }

.d-bloc .panel .divider-h span {
  border-color: rgba(0, 0, 0, 0.1); }

.d-bloc .panel a {
  color: rgba(0, 0, 0, 0.6); }

.d-bloc .panel a:hover {
  color: black; }

.d-bloc .panel .btn-wire, .d-bloc .panel .btn-wire:hover {
  color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.3); }
