<br></br>
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"> Actor</h3>
  </div>
  <table class="table">
    <thead class="btn-danger">
          <tr>
            <th class="text-center">Id</th>
            <th class="text-center">First Name</th>
            <th class="text-center">Last Name</th>
            <th class="text-center">Last Updated</th>
          </tr>
        </thead>
        <tbody class = "btn-default">
          <tr>
            <th  class="text-center" scope="row">{{actors.actorId}}</th>
            <td class="text-center">{{actors.firstName}}</td>
            <td class="text-center">{{actors.lastName}}</td>
            <td class="text-center">{{actors.lastUpdate}} </td>
          </tr>
          
        </tbody>
  </table>
</div>